<div class="wr">
  <h2 style="margin-top: 15px; text-align: center;">
    {{ headerText }}
  </h2>
  <hr>

  <input type="text" class="form-control" placeholder="Name of car" [(ngModel)]="carName">
  <hr>
  <button class="btn btn-main" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()">Добавить машину</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="number" [ngStyle]="{background: car.color}">
        {{ car.id }}
      </span>
      <span class="car-name">{{ car.name }}</span>
      <button class="btn btn-success" (click)="setNewColor(car)">Изменить цвет</button>
      <button class="btn btn-danger" (click)="deleteCar(car)">Удалить</button>
    </li>
  </ul>

</div>
