html, *, body, p, li, ul, h1, h2, h3, h4, input, section, form, label, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  background: #fafafa;
}

h1, h2, h3, h4 {
  margin-bottom: 5px;
}

hr {
  margin: 15px 0;
}

.wr {
  max-width: 1180px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}




#form {
  max-width: 500px;
  margin: 0 auto;
}




.btn {
  border: 1px solid #d5d5d5;
  padding: 10px 20px;
  background: #f2f2f2;
  color: #000;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background: #f5f5f5;
}

.btn.btn-success {
  background: rgba(0, 207, 0, 0.50);
  border: 1px solid green;
}




.item-group {
  border: 1px solid #dcdcdc;
  border-bottom: none;
}
.item-group:last-child {
  border: 1px solid #dcdcdc;
}




.form-group {
  margin-bottom: 15px;
}
.form-group input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 10px 15px;
}




.form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 10px;
}




.success.item {
  background: rgba(0, 128, 0, 0.30);
  color: #006a00;
}

.danger.item {
  background: rgba(255, 0, 0, 0.30);
  color: #c90000;
}

.item {
  padding: 10px;
  font-size: 23px;
  background: #fff;
}




.radio {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
}
