html, *, body, p, li, ul, h1, h2, h3, h4, input, section, form, label, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  background: #fafafa;
}

h1, h2, h3, h4 {
  margin-bottom: 5px;
}

hr {
  margin: 15px 0;
}

.wr {
  max-width: 1180px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

.error-text {
  color: rgba(255, 0, 0, 0.75);
  text-align: center;
  margin-top: 5px;
}

pre {
  padding: 10px;
  border: 1px solid grey;
  box-shadow: inset 0 0 25px #b1b1b1;
  border-radius: 5px;
  background: #efefef;
}

.btn {
  position: relative;
}

.wrap-indicator-forms {
  position: absolute;
  bottom: -30px;
  left: -5%;
  width: 110%;
  text-align: center;
}

.form-indicator {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.form-indicator.invalid {
  color: rgba(198, 0, 0, 0.75);
}

.form-indicator.valid {
  color: rgba(0, 255, 0, .70);
}

#form {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.btn {
  border: 1px solid #d5d5d5;
  padding: 10px 20px;
  background: #f2f2f2;
  color: #000;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background: #f5f5f5;
}

.btn.btn-success[disabled] {
  background: rgba(0, 207, 0, 0.30);
  cursor: not-allowed;
  border: 1px solid rgba(0, 128, 0, 0.70);

}

.btn.btn-success {
  background: rgba(0, 207, 0, 0.50);
  border: 1px solid green;
}

.item-group {
  border: 1px solid #dcdcdc;
  border-bottom: none;
}

.item-group:last-child {
  border: 1px solid #dcdcdc;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 10px 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 10px;
}

.success.item {
  background: rgba(0, 128, 0, 0.30);
  color: #006a00;
}

.danger.item {
  background: rgba(255, 0, 0, 0.30);
  color: #c90000;
}

.item {
  padding: 10px;
  font-size: 23px;
  background: #fff;
}

.radio {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid rgba(255, 0, 0, 0.5) !important;
}

input.ng-valid.ng-touched {
  border: 1px solid rgba(34, 164, 10, 0.77) !important;
}
